@import url(subNavBar.css);
@import url(basic.css);

:root {
    color-scheme: dark light;
    --fw-400: 400;
    --fw-600: 600;
    --fw-800: 800;

    --fs-48: 3rem;
    --fs-32: 2rem;
    --fs-24: 1.5rem;
    --fs-20: 1.25rem;
    --fs-18: 1.125rem;
    --fs-16: 1rem;
    --fs-14: 0.875rem;
    --fs-12: 0.75rem;

    --clr-action-border: ;
    --clr-background: white;
    --clr-foreground: hsl(190, 19%, 6%);
    --filter-svg: invert(0);
    --clr-link: hsl(190, 19%, 6%);
    --store-stats-border: 3px solid black;
    --store-stats-box-shadow: .5rem .5rem;
    --store-stats-border-radius: 0;
    --clr-border: hsl(210, 7%, 84%);
    --clr-input-bg: #FAFBFB;
    --clr-input-border: #777B7F;
    --clr-8-nav: hsl(0, 0%, 0%, .8);
    --clr-5-nav: rgba(0, 0, 0, 0.5);
    --clr-btn-hover: hsl(210, 7%, 84%);

}

.dark-mode {
    --clr-border: hsla(339, 81%, 62%, .2);
    --clr-background: hsl(190, 19%, 6%);
    --clr-foreground: hsl(180, 10%, 94%);
    --filter-svg: invert(1);
    --clr-link: hsl(226, 82%, 85%);
    --clr-box-bg: hsl(187, 18%, 10%);
    --store-stats-border: 1px solid hsla(339, 81%, 62%, .2);
    --store-stats-box-shadow: none;
    --store-stats-border-radius: .5rem;
    --clr-footerbot-box-bg: hsl(191, 15%, 15%);
    --clr-input-bg: #151D1E;
    --clr-input-border: hsl(226, 82%, 85%);
    --clr-8-nav: hsla(0, 0%, 100%, 0.8);
    --clr-5-nav: hsla(0, 0%, 100%, 0.5);
    --clr-btn-hover: hsl(0, 0%, 0%);

}

html,
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: var(--clr-background);
    color: var(--clr-foreground);
}

.active {
    /* border: 1px solid var(--clr-border); */
    background: var(--clr-border);
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
}

.hero-header {
    color: var(--clr-link);
    width: var(--fw-800);
    font-size: var(--fs-32);
}



/* ///////////////////////////////  */
.action-block {
    border: 1px solid var(--clr-border);
    border-radius: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
}

.block-img {
    max-width: 100%;
    background-size: 100% 100%;
    background-size: cover;
}


/* coming soon ...................... */
.coming-soon {
    font-size: 2rem;

    height: 100vh;
    width: 100%;
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: box;
    box-pack: center;
    box-align: center;

}

.soon {
    display: grid;
    gap: 1rem;
}

.go-back {
    padding: 1rem 2rem;
    background-color: var(--clr-background);
    color: var(--clr-foreground);
}

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: hsl(339, 81%, 62%);
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
    right: 0;
}