:root {
    /* color-scheme: dark light; */
}

body {}

/* @media (prefers-color-scheme: dark) {
    body {
        background-color: #202223;
        color: #f4f6ff;
    }
} */

/* 
@media (prefers-color-scheme: light) {
    body {
        background-color: black;
        color: white;
    }
} */